body {
    background-image: url(../images/kitty.jpg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(233, 233, 233);
    height: 60rem;
    width: auto;
    padding: 5em;
    margin: 0;
}

header {
    text-align: center;
    font-family: cursive;
}