body {
    background-image: url(../images/petbnb-alternative-home-stay-to-pet-hotels.jpg);
    background-image: inherit;
    background-size: stretch;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5em;
    padding: 0;
}

header {
    text-align: center;
    font-family: cursive;
}