body {
    background-image: url(../images/kitty.jpg);
    background-image: inherit;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
}